@using System.Activities.Expressions
@model Rest.Models.Pessoa

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.9.4/media/css/demo_page.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.9.4/media/css/demo_table.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.9.4/media/js/jquery.js"></script>
    <script src="~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.odata.js"></script>
    <script type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Salvar", "Home", FormMethod.Post, new { @class = "form form-horizontal parsley-form", enctype = "multipart/form-data", id = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <br/>
            <br />
            <br />
            <div class="form-group">
                <label class="control-label col-md-2" for="Nome">Nome: <span class="required  text-danger">*</span></label>
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="Email">Email: <span class="required  text-danger">*</span></label>
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="telefone">Telefone: <span class="required  text-danger">*</span></label>
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit"  class="btn btn-primary"><i class="fa fa-check-circle"></i> Salvar</button>
                </div>
            </div>
        }
    </div>
</div>


</body>
</html>
